@page
@using MIST.Models
@model MIST.Pages.ShoppingCart.IndexModel


@{
    ViewData["Title"] = "Shopping Cart";
}
<style>
    button {
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid black;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:600;
        color:black;
        text-align:center;
        transition: all 0.2s;
        background-color: white;
    }
    button:hover{
        color:white;
        background-color:black;
    }
    body{
        background-color: black;
    }
    h1, th, td{
        color: white;
    }

    img {
        height: 20vh;
        width: 20vw;
    }
    
</style>
<body>
<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCartItem[0].Game)
            </th>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingCartItem[0].Game.Price)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ShoppingCartItem)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td class="indexImg">
                <img src="~/uploads/@item.Game.CoverImageName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Price)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ShoppingCartId">Delete</a>
            </td>
        </tr>
    }

    </tbody>


</table>
<div>
    <form method="POST">
        <button type="submit">Checkout</button>
    </form>
</div>
</body>
