@page
@model MIST.Pages.Audit.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <style>
        body {
            background-color: black;
        }
        a, h1, h4, dt, dd {
            color: white;
        }
    </style>
</head>
<h1>Details</h1>

<div>
    <h4>AuditRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuditRecord.AuditActionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuditRecord.AuditActionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuditRecord.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuditRecord.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuditRecord.DateTimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuditRecord.DateTimeStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuditRecord.KeyMovieFieldID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuditRecord.KeyMovieFieldID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuditRecord.RoleID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuditRecord.RoleID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuditRecord.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuditRecord.Details)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
