@page
@model MIST.Pages.Feedbacks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Submissions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback[0].FeedbackText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feedback) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackText)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.FeedbackId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FeedbackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
