@page
@using MIST.Models
@model MIST.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}



<head>
    <link rel="stylesheet" href="/css/Game.css">
</head>
<h1 class="games-title">Games</h1>

<p>
    <a class="create-text" asp-page="Create">Create New</a>
</p>
<form>
    <p class="filter-text ">
        Genre: <select asp-for="Genre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input class="filterbtn" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Name)
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="indexImg">
                <img src="~/uploads/@item.CoverImageName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit |</a>
                }

                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>

                @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                {
                    <a asp-page="./Delete" asp-route-id="@item.ID">| Delete</a>
                }
                
            </td>
        </tr>
}
</table>
